.card-container {
	width: 35rem;
	padding: 5rem;
  margin-left: 25px;
  margin-top: 15px;
  margin-right: 25px;
  background-color: #DEDEDE;
  border-radius: 20px;
}

.author{
  font-size: 17px;
	font-weight: 400;
	margin-right: 1.5rem;
	padding: 0;
}

.dataPublicacao {
	font-size: 17px;
	font-weight: 400;
	margin-right: 1.5rem;
	padding: 0;
}

.title {
  font-size: 15px;
	color: black;
}

.descricao {
  font-size: 19px;
}