.secundario-container {
  grid-area: menusecundario;
  text-align: center;
	width: 100%;
	height: 100%;
  background-color: #C5C5C6;
}

.secundario{
  margin-top: 120%;
  font-family: 'Gill Sans';
  font-size: 20px;
}

.linkcolorido{
  color: black;
}