.horizontal-container {
  grid-area: menuhorizontal;
  width: 100%;
	height: 100%;
  background-color: #C5C5C6;
  text-align: center;
}

.img{
  margin-left: -96px;
  position: absolute;
  top: 1%;
}

.menu{
  font-size: 23px;
  color: black;
  float: left;
  margin-top: 20px;
  margin-left: 25px;
}
.icons{
  padding: 1.5rem;
  float: right;
  margin-right: 12px;
  margin-top: 5px;
}