.new-container {
	max-width: 90rem;
  margin: 6rem auto;
  font-family: 'Gill Sans';
}

.title1 {
  font-size: 30px;
  font-family: 'Gill Sans';
  text-align: center;
}

.text {
  font-size: 19px;
  font-family: 'Gill Sans';
}

.author1, .dataPublicacao1 {
  font-size: 15px;
}