.new-container {
	max-width: 90rem;
  margin: 6rem auto;
  min-height: calc(100%-6.5rem);
}

.title1 {
  font-size: 30px;
  text-align: center;
}

.text {
  font-size: 19px;
}

.author1, .dataPublicacao1 {
  font-size: 15px;
}