html {
  font-size: 62.5%;
}
:root{
  background-color: #EDEFF0;
}
body {
	height: 100vh;
	font: 1.6rem;
	margin: 0;
	font-weight: 400;
	position: relative;
	z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: --background-main;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}